.filters {
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
    margin-left: auto;
    cursor: pointer;
}

.filters button:hover {
    opacity: 90%;
}

.locations, 
.amenities {
    height: 100%;
    width: 25%;
    padding-left : 50px;
    position: relative;
    cursor: pointer;
}

.locations h3, 
.amenities h3{
    font-weight: 600;
    font-size: 16px;
    padding-top: 20px;
}

.locations h4, 
.amenities h4{
    font-weight: 400;
    font-size: 14px;
}

.locations {
    border-right: 1px solid #DDD;
}

.droplist {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 70px; 
    width: 100%;
    background-color: #FAFAFA;
    padding-inline: 45px;
    padding-top: 40px;
    padding-bottom: 40px;
    outline: 1px solid #DDDDDD;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.3);
    z-index: 99;
    display: none;
}

.locations:hover .droplist {
    display: inline;
}

.amenities:hover .droplist {
    display: inline;
}

.popover {
    list-style: none;
    padding-left: 15px;
}

.popover li {
    margin-bottom: 4px;
}

.locations div h2 {
    font-size: 16px;
    margin-block: 14px;
}

