header {
    height: 70px;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    display: flex;
    align-items: center;
}

header span {
    display: inline-block;
    height: 80%;
    width: 140px;
    background: no-repeat url("../images/logo.png");
}
